.wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input {
    width: 350px;
    height: 20px;
    padding: 10px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
}

.button {
    background-color: pink;
    border: none;
    padding: 5px 20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
}

.button:active {
    color: white;
    background-color: crimson;
}